<p>Hello, {{ name }}!</p>
<p>Welcome to VolgaCTF 2025 Qualifier!</p>
<p>You must confirm your email address so as to take part in the competition.<br>
<a href="{{{ email_confirm_link }}}">Click here to confirm your email address.</a></p>
<p>Regards<br>
VolgaCTF 2025 Qualifier team</p>
