Hello, {{{ name }}}!

Welcome to VolgaCTF 2025 Qualifier!

You must confirm your email address so as to take part in the competition.
Please navigate to {{{ email_confirm_link }}} in your browser.

Regards
VolgaCTF 2025 Qualifier team
